.sql-code {
	padding-top: 30px;
	padding-left: 30px;
	background-image:url('../img/sql-logo.png');
	background-repeat: no-repeat;
	background-position: 5px 0px;
}

.elastic-code {
	padding-top: 30px;
	padding-left: 30px;
	background-color: #74b73f;
	font-weight: bold;
	background-image:url('../img/elastic-logo.png');
	background-repeat: no-repeat;
	background-position: 5px 0px;
}